In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('data/grades.csv')

In [11]:
df1 = df.copy()

In [12]:
df1 = df.iloc[:,[0,1,3,5]]
df1.head(2)

,student_id,assignment1_grade,assignment2_grade,assignment3_grade
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,83.030552,67.164441
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,86.290821,69.772657

In [18]:
df1['final'] = df1.apply(lambda row: (row[1] + row[2] + (2*row[3]))/400, axis=1)

/Users/Bert/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
df1.head(2)

,student_id,assignment1_grade,assignment2_grade,assignment3_grade,final
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,83.030552,67.164441,0.775233
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,86.290821,69.772657,0.781567

In [21]:
num_students = int(len(df) * 0.01)
num_students

23

In [37]:
indices = df1.final.argsort().head()

In [32]:
df1.final[1424]

0.13341549732972496

In [33]:
df1.iloc[indices] #top 10% of students by final grade

,student_id,assignment1_grade,assignment2_grade,assignment3_grade,final
1424,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,14.423297,12.980967,12.980967,0.133415
15,24827B50-2FC2-E4B0-E2A0-1989E17749B3,14.959603,14.459603,12.307682,0.135086
226,DDE0526B-7DA4-80E8-C2A6-D097F3826029,18.018145,16.216331,14.594698,0.158560
2237,247B105C-2067-A7AA-2CBE-B65278128C96,19.524002,15.259202,14.453282,0.159224
339,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,18.962538,17.066284,17.066284,0.175403

In [34]:
df1.iloc[indices[-num_students:]] #bottom 10% according to final grades

,student_id,assignment1_grade,assignment2_grade,assignment3_grade,final
1424,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,14.423297,12.980967,12.980967,0.133415
15,24827B50-2FC2-E4B0-E2A0-1989E17749B3,14.959603,14.459603,12.307682,0.135086
226,DDE0526B-7DA4-80E8-C2A6-D097F3826029,18.018145,16.216331,14.594698,0.158560
2237,247B105C-2067-A7AA-2CBE-B65278128C96,19.524002,15.259202,14.453282,0.159224
339,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,18.962538,17.066284,17.066284,0.175403

In [38]:
filtered_students = df1.iloc[indices[-num_students:]][::-1]
filtered_students.student_id.values

array(['6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC',
       '247B105C-2067-A7AA-2CBE-B65278128C96',
       'DDE0526B-7DA4-80E8-C2A6-D097F3826029',
       '24827B50-2FC2-E4B0-E2A0-1989E17749B3',
       'EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31'], dtype=object)